accelerate==0.27.2
datasets==3.0.1
diffusers @ git+https://github.com/huggingface/diffusers.git@07bd2fabb60dbd1c7da6fd176c62e592402b19e3
huggingface-hub==0.25.2
opencv-python==4.9.0.80
peft==0.7.0
pillow==10.2.0
pytorch-fid==0.3.0
safetensors==0.4.2
streamlit==1.39.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tokenizers==0.15.2
toml==0.10.2
torch==2.4.0+cu121
torchaudio==2.4.0+cu121
torchmetrics==1.4.1
torchvision==0.19.0+cu121
transformers==4.38.1
